<?xml version="1.0" encoding="UTF-8"?>

<suite name="Rainbow Test Suite">
    <test name="Login Tests">
        <classes>
            <class name="com.test.RainbowProject.TestLogin"/>
            <class name="com.test.RainbowProject.TestCreateBubble"/>
            <class name="com.test.RainbowProject.TestInviteMember"/>
            <class name="com.test.RainbowProject.TestRemoveMembers"/>
            <class name="com.test.RainbowProject.TestDeleteBubble"/>
        </classes>
    </test>
</suite>